@media screen and (max-width: 370px) {
    .header_top_left{
        width: 370px;
        height: 50px;
    }

    .geolocation_vector{
        display: none;
    }
    .btn-group-2{
        display: none;
    }

    .btn-group-3{
        display: none;
    }

    .header_top_right{
        display: none;
    }

    .else{
        display: block;
    }

    .search_menu{
        width: 370px;
        height: 200px;
    }

    .logo_picture{
        width: 100%;
        height: 120px;
    }

    .logo img{
        width: 184px;
        height: 61px;
        margin-left: -89px;
    }

    .time{
        display: none;
    }

    .location{
        display: none;
    }

    .whatsapp{
        display: none;
    }

    .whatsapp_media{
        margin-left: -17px;
        margin-top: 62px;
        display: block;

    }

    .whatsapp_media button {
        width: 156px;
        height: 31px;
        background: #E1EFD0;
        border-radius: 2px;
        display: flex;
        margin-left: 29px;
        margin-top: 11px;
    }

    .whatsapp_media img {
        margin-top: 7px;
    }

    .whatsapp_media p {
        margin-top: 5px;
        margin-left: 3px;
        font-weight: normal;
        font-size: 12px;
        line-height: 14px;
        text-align: right;
        color: #000000;
    }

    .header_contact{
        width: 157px;
        height: 76px;
        margin-left: -157px;
        margin-top: -10px;
    }

    .registration{
        width: 370px;
        height: 60px;
        margin-left: 0;

    }

    .buttons_group{
        display: none;
    }

    .katalog{
        display: none;
    }

    .katalog_media {
        display: block;

    }

    .registration_form{
        display: none;
    }

    .btn_search{
        display: none;
    }

    .registration_form_media{
        display: block;
    }
    .registration_form_media input{
        width: 218px;
        height: 54px;
        background: #F4F5FA;
        border-radius: 4px 0 0 4px;
        margin-left: 38px;
    }

    .btn_search_media{
        width: 54px;
        height: 54px;
        display: block;
    }

    .btn_search_media img{
        width: 54px;
        height: 54px;
    }

    .product{
        width: 370px;
        height: 3794px;
    }

    .product__boxes{
        width: 100%;
        height: 676px;
        display: flex;
        flex-direction: column;
    }

    .clutch{
        width: 100%;
        height: 293px;
    }

    .product__box__1{
        width: 100%;
        height: 400px;
    }



    .clutch_picture-1 img{
        width: 360px;
        height: 283px;
        margin-left: 2px;
        margin-top: 10px;
        border-radius: 33px;
        position: absolute;
    }

    .clutch_picture-2 img{
        width: 147px;
        height: 129px;
        margin-left: 189px;
        margin-top: 42px;
    }

    .clutch h2{
        font-weight: 500;
        font-size: 18px;
        line-height: 19px;
        margin-top: -114px;
        margin-left: 21px;
    }

    .clutch h4{
        font-weight: normal;
        font-size: 12px;
        line-height: 12px;
        margin-top: 0;
        margin-left: 23px;
    }

    .clutch p{
        font-weight: 500;
        font-size: 24px;
        line-height: 23px;
        margin-top: 54px;
        margin-left: 23px;
    }

    .clutch h5{
        font-weight: normal;
        font-size: 16px;
        line-height: 16px;
        margin-top: -63px;
        margin-left: 23px;
    }

    .clutch_btn{
        margin-top: 57px;
        margin-left: 23px;
    }

    .left_arrow{
        display: none;
    }

    .right_arrow{
        display: none;
    }

    .action{
        width: 100%;
        height: 352px;
        display: flex;
        margin-left: 0;
        margin-top: -83px;
    }

    .action__box{
        margin-left: 2px;
        width: 360px;
    }

    .scroll{
        width: 100%;
        height: 600px;
        display: flex;
        flex-direction: column;
        margin-left: 0;
        margin-top: 10px;
    }

    .oil{
        width: 360px;
    }

    .oil__picture {
        margin-left: -20px;
    }

    .nav{
        display: flex;
        width: 100%;
        height: 50px;
        margin-left: 0;
    }

    .nav__btn_1{
        width: 125px;
        height: 52px;
    }

    .nav__btn_1 a{
        font-size: 13px;
    }

    .nav__btn_2{
        width: 125px;
        height: 52px;
        margin-left: 0;
    }

    .nav__btn_2 a{
        font-size: 13px;
    }

    .nav__btn_3{
        width: 120px;
        height: 52px;
        margin-left: 0;
    }

    .nav__btn_3 a{
        font-size: 13px;
    }


    .auto__parts_1{
        width: 100%;
        height: 621px;
        margin-top: 12px;
        margin-left: 0;
        display: flex;
        flex-wrap: wrap;
    }

    .auto__parts_1__1{
        width: 50%;
        height: 300px;
    }

    .auto__parts_1__1__picture img{
        width: 131px;
        height: 124px;
        margin-left: 20px;
    }

    .reviews{
        margin-left: 20px;
    }

    .reviews__picture img{
        width: 31px;
        height: 13px;
    }

    .auto__parts_1__1 h5{
        font-weight: 500;
        font-size: 14px;
        line-height: 17px;
        margin-left: 14px;
    }

    .auto__parts_1__1__price{
        margin-left: 15px;
        margin-top: 21px;
    }

    .auto__parts_1__1__btn{
        width: 61px;
        height: 30px;
        margin-left: 83px;
    }

    .auto__parts_1__1__btn-1 a{
        font-size: 10px;
    }

    .auto__parts_1__1__btn-1 img{
        margin-left: -30px;
    }

    .auto__parts_1__1__btn__statuc{
        display: none;
    }

    .line__between{
        display: none;
    }

    .footer{
        width: 100%;
        height: 60px;
    }

    .news{
        width: 100%;
        height: 60px;
    }

    .news p{
        margin-left: 7px;
        margin-top: 37px;
    }

    .news__line{
        display: none;
    }

    .news__line__vertical{
        display: none;
    }

    .date{
        width: 370px;
        height: 1000px;
        display: flex;
        flex-direction: column;
    }

    .date__icon_1{
        width: 100%;
        height: 300px;
        margin-left: 0;
        margin-top: 30px;
    }

    .date__icon_1__picture img{
        width: 77px;
        height: 19px;
        margin-left: 7px;
    }

    .date__icon_1__btn a{
        margin-left: 7px;
    }

    .date__icon_1 p{
        width: 300px;
        margin-left: 7px;
        font-weight: normal;
        font-size: 13px;
        line-height: 18px;

    }

    .date__icon_2{
        width: 100%;
        height: 300px;
        margin-left: 0;
        margin-top: 30px;
    }

     .date__icon_2__picture img{
        width: 77px;
        height: 19px;
        margin-left: 7px;
    }

    .date__icon_2__btn a{
        margin-left: 7px;
    }

    .date__icon_2 p{
        font-weight: normal;
        font-size: 13px;
        line-height: 18px;
        margin-left: 7px;
    }

    .date__icon_2 ul{
        font-weight: normal;
        font-size: 13px;
        line-height: 18px;
        margin-left: -21px;
    }

    .date__icon_3{
        width: 100%;
        height: 300px;
        margin-left: 0;
        margin-top: 30px;
    }

    .date__icon_3__picture img{
        width: 77px;
        height: 19px;
        margin-left: 7px;
    }

    .date__icon_3__btn a{
        margin-left: 7px;
    }

    .date__icon_3 p{
        font-weight: normal;
        font-size: 13px;
        line-height: 18px;
        margin-left: 7px;
    }

    .date__icon_3 ul{
        font-weight: normal;
        font-size: 13px;
        line-height: 18px;
        margin-left: -21px;
    }


    .date__icon_4{
        width: 100%;
        height: 300px;
        margin-left: 0;
        margin-top: 30px;
    }

    .date__icon_4__picture img{
        width: 77px;
        height: 19px;
        margin-left: 7px;
    }

    .date__icon_4__btn a{
        margin-left: 7px;
    }
    .date__icon_4 p{
        font-weight: normal;
        font-size: 13px;
        line-height: 18px;
        margin-left: 7px;
    }

    .information_menu{
        width: 370px;
        height: 1626px;
        display: flex;
        flex-direction: column;
    }

    .information_menu_catalog{
        margin-left: 10px;
    }

    .information_menu_rubricator{
        margin-left: 10px;
    }

    .information_menu_information{
        margin-left: 10px;
        margin-top: 0;
    }

    .information_menu_contact{
        width: 100%;
        margin-left: 0;
    }

    .information_menu_contact_email{
        display: flex;
        flex-direction: column;
    }

    .contact{
        margin-left: 10px;
        margin-top: 0;
    }

    .online{
        margin-top: 100px;
        display: flex;
        flex-direction: column;
    }

    .online p{
        margin-left: 10px;
    }

    .online a{
        margin-left: 10px;
        margin-top: -11px;
    }

    .subscription p{
        width: 350px;
        margin-left: 10px;
        margin-top: 20px;
    }

    .email input{
        width: 170px;
        margin-left: 10px;
    }

    .pictogram{
        margin-left: -190px;
        margin-top: 20px;
    }

    .captions{
        width: 370px;
    }

    .captions p{
        font-weight: normal;
        font-size: 12px;
        line-height: 14px;
        margin-left: 20px;
    }

    .oil__left__arrow{
        display: none;
    }

    .oil__right__arrow{
        display: none;
    }











}